html {
  background-attachment: scroll;
  background-image: url(6.PNG);
  background-repeat: no-repeat;
  background-size: 375px;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-position: center top;
  font-family: "helvetica";
  overflow: hidden;
  height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
/* body {
  height: 100%;
  overflow: hidden;
  margin: 0;
} */
div {
  text-align: center;
  width: 84%;
  margin-left: -42%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#thanks {
  position: fixed;
  font-size: 1.53rem;
  top: 49%;
}
#venue {
  font-size: 1.53rem;
  -webkit-user-modify: read-write;
}
#time {
  font-size: 1.53rem;
  -webkit-user-modify: read-write;
  padding: 0.91rem;
}
#blurb {
  width: 100%;
  margin-left: -5%;
  font-size: 1.25rem;
  padding: 0.91rem;
  line-height: 1.3;
}
#cancel {
  position: fixed;
  font-size: 1.343rem;
  bottom: 16.3%;
  color: #005eb8;
  text-decoration: underline;
  text-underline-offset: 3px;
}
#home {
  position: fixed;
  font-size: 1.4rem;
  bottom: 6.4%;
  font-weight: 600;
  line-height: 2.39;
  border-radius: 9px;
  color: #fff;
  background-color: #005eb8;
  /* background: Transparent no-repeat; */
}
/* #tickImg {
  width: 25%;
  height: 25%;
} */
