html {
  height: calc(100% + env(safe-area-inset-top));
  background-attachment: scroll;
  background-image: url(4.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  /* 
  margin: -20% auto 0;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%; */
  background-position: left 0px bottom 0px;
  font: -apple-system-body;
  overflow: hidden;
  /* text (4=default, 8+): px
1: 14
2: 15
3: 16
4: 17
5: 19
6: 21
7: 23
8: 28
9: 33
10:40
11:47
12:53
 */
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}
body {
  font-family: "helvetica";
  font-weight: 600;
  word-spacing: initial;
  /* font-size: 20px; */
  /* height: 100%;
  overflow: hidden;
  margin: 0; */
}
div {
  text-align: center;
  width: 84%;
  margin-left: -42%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: rgb(255, 0, 0);
}
#tickImg {
  position: fixed;
  width: 104px;
  margin-left: -52px;
  top: 17.2%;
  /* top: 20%; */
  /* 153.60 -> 132 */
}
#thanks {
  position: fixed;
  font-size: 1.2rem;
  top: 49%;
  /* font-size: 1.53rem; */
}
#venue {
  font-size: 1.2rem;
  -webkit-user-modify: read-write;
  /* font-size: 1.53rem; */
}
#time {
  /* font-size: 1.53rem; */
  font-size: 1.1rem;
  -webkit-user-modify: read-write;
  padding: 0.91rem;
}
#blurb {
  width: 100%;
  margin-left: -5%;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.91rem;
  line-height: 1.3;
  word-spacing: initial;
  /* font-size: 1.25rem; */
}
#cancel {
  position: fixed;
  font-size: 1.03rem;
  bottom: 16.3%;
  color: #005eb8;
  text-decoration: underline;
  text-underline-offset: 3px;
  /* font-size: 1.343rem; */
}
#home {
  position: fixed;
  font-size: 1.04rem;
  bottom: 6.4%;
  line-height: 2.39;
  border-radius: 9px;
  color: #fff;
  background-color: #005eb8;
  /* background: Transparent no-repeat; */
  /* font-size: 1.4rem; */
}
